*, *::before, *::after{
box-sizing: border-box;
} 
h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
} 
img{
    display: block;
    height: auto;
    max-width: 100%;
    object-fit: cover;
    width: 100%;
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
    padding: 0;
    border: none;
    background: transparent;
    font-family: inherit;
    color: currentColor;
}
input{
	font-family: inherit;
}

body{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    color: #434455;
    background-color: #FFFFFF; 
}
/* ----------------------------------------------  */
.container { 
    max-width: 320px;
    padding: 0 15px;  
    margin: 0 auto; 
}
.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}
.flex-list{
    display: flex;
    gap: 24px;
}

.body-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.subtitle{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    max-width: 496px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* -------------------------------------------------- */
/* ---------------header------------ */
.header{
    border-bottom: 1px solid #e7e9fc; 
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header__container{
    width: 320px;
}
.header__container__navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: auto;
}
.header__container__navigation__logo__part{
    color:  #2e2f42;
}
.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin: 16px;
}
.header__container__list{
    display: none;
}
.header__container__navigation__list__item__link{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0 24px;
    display: block;
}
.header-link{
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link:hover,
.header-link:focus
{
    color: #404bbf;
}
.current{
    position: relative;
    color: #404bbf;
}
.current::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background: #404bbf;
    border-radius: 2px;
    height: 4px;
    width: 100%;
}
.header__container__address {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    font-style: normal;
}
.header__container__address__list__item{
    color: #434455;
}
/* -------------------solutions---111111111111--------------- */
.solutions{
    margin: 0 auto;
    padding: 72px 0;
    max-width: 1440px;
    
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/background-solutions-mob.jpg);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    
}
.solutions__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.solutions__container__title{
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-bottom: 72px;
    max-width: 216px;
}
.solutions__container__button{
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    font-weight: 500;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    text-align: center;
    display: block;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.solutions__container__button:hover,
.solutions__container__button:focus{
    background-color: #404BBF;
}
/* -------1111111111111--------- */
/* --------------222222222222------------- */
.features{
    padding: 96px 0;
}
.features__container__list{
    display: flex;
    flex-wrap: wrap; 
    gap: 72px;
}
.features__container__list__item__link-icon{
    display: none;
}
.features__container__list__item__title{
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    text-align: center;
}

.features__container__list__item__text{
    text-align: initial;
    font-weight: 500;
    line-height: 150%; 
    color: #434455;
}
/* --------------222222222222------------- */
/* -------------333333333------ */
.team{
    background-color: #F4F4FD;
    padding: 96px 0;
}
.team__container__title{
    margin-bottom: 72px;
}
.team__container__list{
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    justify-content: center;
}
.team__container__list__item{
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team__container__list__item__caption{
    text-align: center;
    background-color: #FFFFFF;
    padding: 32px 0;
}
.team__container__list__item__caption__subtitle{
    margin-bottom: 8px;
}
.team__container__list__icon{
    display: flex;
    margin-top: 8px;
    margin-left: 16px;
    margin-right: 16px;
    justify-content: center;
    gap: 24px;
}
.team__container__list__item__link-icon{
    background-color: #4d5ae5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    cursor: pointer;
    /* transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}
.team__container__list__item__link-icon-svg{
    fill: #F4F4FD;
}
.team__container__list__item__link-icon:hover,
.team__container__list__item__link-icon:focus{
    background-color: #404bbf;
    border: none;
}

/* ------------3333333333---------- */
/* -----------444444444444-------------- */
.portfolio{
    padding: 96px 0;
}
.portfolio__container__title{
    margin-bottom: 72px;
}
.portfolio__container__list{
    flex-wrap: wrap;
    row-gap: 48px;
}
.portfolio__container__list__item{
    width: 100%;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.portfolio__container__list__item:hover{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio__container__list__item:hover .portfolio__container__list__item__img__text{
    transform: translateY(0%);
}
.portfolio__container__list__item__img{
    position: relative; 
    overflow: hidden;
}
.portfolio__container__list__item__img__text{
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px; 
    background-color: #4d5ae5; 
    height: 100%; 
    width: 100%; 
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__container__list__item__caption{
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
}
.portfolio__container__list__item__subtitle{
    text-transform: capitalize;
    margin-bottom: 8px;
}
<!----------------portfolio---------------->

/* ---------------------FOOTER-------------------- */
.footer{
    background-color: #2e2f42;
    padding: 96px 0;
}
.footer__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 72px;
}

.footer__container__content__logo{
    display: flex;
    justify-content: center;
}
.footer__container__content__logo__part{
    color: #f4f4fd;
}
.footer__container__content__text{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background: #2e2f42;
    max-width: 264px;
}
.footer__container__social-media{
    width: 208px;
    height: 80px;
}
.footer__container__social-media__subtitle{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    
}
.footer__container__list__icon{
    gap: 16px;
    margin-left: 0;
    margin-right: 0;
}
.footer__container__list__item__icon{
    width: 40px;
    height: 40px;
}
.footer__container__list__item__link-icon{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.footer__container__list__item__link-icon:hover,
.footer__container__list__item__link-icon:focus{
    background-color: #31d0aa;
}
.footer__container__subscribe{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.footer__container__subscribe__form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
}
.footer__container__subscribe__input{
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
}
.footer__container__subscribe__input::placeholder{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 0.04em;
    color: #fff;
    padding-left: 16px;
}
.footer__container__button-subscribe{
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: auto;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    cursor: pointer;
    border: none;
}
.footer__container__button-subscribe__icon{
    margin-left: 16px;
}

/* ---------------------FOOTER-------------------- */
/* -----------MODAL------------ */
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    opacity: 0;
    /* visibility: hidden; */
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open{
    opacity: 1;
    /* visibility: visible; */
    pointer-events: auto;
}
.modal{
    position: absolute;
    border-radius: 4px;
    width: 408px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 24px;
    padding: 72px 24px 24px 24px; 
}
.modal__button-close{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none; 
}
.modal__button-close:hover, 
.modal__button-close:focus{
    background-color: #404bbf; 
    border: none;
}
.modal__button-close__icon{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2e2f42;
}
.modal__button-close:hover .modal__button-close__icon,
.modal__button-close:focus .modal__button-close__icon{
    fill: #ffffff; 
}
.modal__subtitle{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
    text-align: center;
}
.modal__field{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 8px;
}
.modal__field__label{
    margin-bottom: 4px;
}
.form-label{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8e8f99;
    line-height: 1.17;
}
.modal__field__input-contanier{
    position: relative;
}
.modal__field__input{
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 360px;
    height: 40px;
    padding: 11px 16px 11px 38px;
    width: 100%;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__field__input:focus{
    outline: 1px solid #4d5ae5;
    border-color: #4D5AE5;
}
.modal__field__icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    left: 16px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__field__input:focus-visible + .modal__field__icon {
    fill: #4d5ae5; 
}
.modal__field__comment{
    margin-bottom: 16px;
}
.modal__field__textarea{
    height: 120px; 
    width: 100%;
    resize: none;
    padding-left: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    height: 120px;
    margin-bottom: 16px;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.modal__field__textarea:focus{
    border-color: #4D5AE5;
}
.modal__field__checkbox-container{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    margin-bottom: 24px;
}
.modal__field__checkbox__link-text{
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8e8f99;
    line-height: 117%;
}
.modal__field__checkbox__link__text-part{
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__field__checkbox{
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
}
.modal__field__checkbox:checked + label .modal__field__checkbox__link__text-part {
    background-color: #404bbf;
    border: none;
}
.modal__field__checkbox:checked + label .modal__field__checkbox__link__text-part{
    fill: #F4F4FD;
}
.modal__field__button-send {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif ;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.04em;
    display: block;
    color: #fff; 
    margin: auto;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__field__checkbox__link-text__pp{
    color: #4d5ae5;
    text-decoration: underline;
    cursor: pointer;
}
.team__container__list__item__icon__svg:checked{
    fill: #f4f4fd;
}






/* -----------MEDIA------------ */
@media screen and (min-width: 768px){
    .container { 
        max-width: 768px;
        padding: 0 15px;  
    }
    .header__container{
        max-width: 768px;
        display: flex;
        width: 1158px;
        align-items: center;
    }
    .footer__container__content__logo{
        margin: 24px;
        margin-left: 16px;
    }
    .header__container__list{
        display: flex;
        flex-wrap: nowrap;
        gap: 24px;
    }
    .solutions{
        padding: 112px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/background-solutions-tablet.jpg);
    }
    .solutions__container__title{
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 36px;
        max-width: 496px;
    }

    .features__container__list{
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }
    .features__container__list__item__title{
        text-align: start;
    }
    .features__container__list__item{
        width: calc((100% - 24px) / 2);
    }
    .team{
        padding: 96px 0;
    }
    .team__container__list{
        display: flex;
        gap: 24px;
    }
    .portfolio{
        padding: 120px 0;
    }
    .portfolio__container__list{
        flex-wrap: wrap;
        row-gap: 48px;
    }
    .portfolio__container__list__item{
        width: calc((100% - 24px) / 2);
    }
    .footer__container__social-media__subtitle{
        justify-content: start;
    }
    .footer__container__content__logo{
        justify-content: start;
    }
    .logo{
        margin-bottom: 16px;
    }
    

}

@media screen and (min-width: 1158px){
    .container { 
        max-width: 1158px;
        padding: 0 15px;  
    }
    .header__container{
        max-width: 1158px;
    }
   
    .solutions{
        padding: 188px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/background-solutions.jpg);
    }
    .solutions__container__title{
        margin-bottom: 48px;
    }
    .features__container__list__item__link-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        background: #f4f4fd;
        margin-bottom: 8px;
        background-color: #f4f4fd;
    }
   
    .features__container__list__item{
        width: calc((100% - 72px) / 4);
        justify-content: space-between;
        margin-bottom: 8px;
    }
    .features{
        padding: 120px 0;
    }
    .features__container__list__item__title{
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
    }
    .features__container__list__item__text{
        font-weight: 400;
    }
    .team__container__list__item{
        width: calc((100% - 72px) / 4);
    }
    .portfolio__container__list__item{
        width: calc((100% - 48px) / 3);
    }
    .footer{
        padding: 100px 0;
    }
    .footer__container{
        display: flex;
        align-items: baseline;
        flex-wrap: nowrap;
        gap: 0;
    }
    .footer__container__content{
        margin-right: 120px;
    }
    .footer__container__subscribe__form{
        flex-direction: row;
    }
    .footer__container__subscribe{
        margin-left: 80px;
    }
    .footer__container__button-subscribe{
        margin-left: 24px;
    }
    .footer__container__content__logo{
        display: inline-block;
        margin-left: 0;
        margin-bottom: 16px;
    }
    .logo{
        margin-right: 76px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1158px) {
    .header__container__list__addres{
        display: inline-block;
    }
    .header__container__navigation__logo{
        margin-right: 100px;
        margin-left: 0;
    }
    .features__container__list__item__text__tablet{
        margin-bottom: 72px;
    }
    .team__container__list__item__tablet{
        margin-bottom: 64px;
    }
    .footer__container__content__logo{
        margin: 0;
        margin-bottom: 16px;
    }
    
    .footer__container__subscribe__form{
        flex-direction: row;
        gap: 24px;
        
    }
    .footer__container{
        gap: 72px 24px;
        justify-content: start;
        padding: 0 108px;
    }
    
}

/* -----------MEDIA------------ */
