*, *::before, *::after{
box-sizing: border-box;
} 
h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
} 
img{
    display: block;
    height: auto;
    max-width: 100%;
    object-fit: cover;
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
}
body{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    color: #434455;
    background-color: #FFFFFF; 
}
/* ----------------------------------------------  */
.container { 
    max-width: 1158px;
    padding: 0 15px;  
    margin: 0 auto; 
}
.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}
.flex-list{
    display: flex;
    gap: 24px;
}

.body-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.subtitle{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    max-width: 496px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* -------------------------------------------------- */
/* ---------------header------------ */
.header{
    padding: 24px 156px;
    border-bottom: 1px solid #e7e9fc; 
}
.header__container{
    display: flex;
    width: 1158px;
}
.header__container__navigation{
    display: flex;
    align-items: center;

    justify-content: space-between;
    margin-right: auto;

}
.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding-right: 76px;
    margin-right: 76px;;
}
.header__container__navigation__logo__part{
    color:  #2e2f42;
}
.header__container__navigation__list__item__link{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0 24px;
}
.header__container__address__list__item{
    color: #434455;
}
.header-link:hover,
.header-link:focus
{
    color: #404bbf;
}
.header__container__address {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
    text-decoration: none;
    font-style: normal;
}
.header__container__list{
    display: flex;
    gap: 40px;
}
/* -------------------solutions---111111111111--------------- */
.solutions{
    background: #2e2f42;
    padding: 188px 0;
}
.solutions__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.solutions__container__title{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-bottom: 48px;
    max-width: 496px;
}
.solutions__container__button{
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    font-weight: 500;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    text-align: center;
    display: block;
    min-width: 169px;
}
.solutions__container__button:hover,
.solutions__container__button:focus{
    background-color: #404BBF;
}
/* -------1111111111111--------- */
/* --------------222222222222------------- */
.features{
    padding: 120px 0;
}
.features__container__list{
    display: flex;
    gap: 24px;
}
.features__container__list__item{
    
    width: calc((100% - 72px) / 4);
}
.features__container__list__item__title{
    margin-bottom: 8px;
}

.features__container__list__item__text{
    text-align: initial;
}
/* --------------222222222222------------- */
/* -------------333333333------ */
.team{
    background-color: #F4F4FD;
    padding: 120px 0;
}
.team__container__title{
    margin-bottom: 72px;
}
.team__container__list__item{
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) / 4);
}
.team__container__list__item__caption{
    text-align: center;
    background-color: #FFFFFF;
    padding: 32px 0;
}
.team__container__list__item__caption__subtitle{
    margin-bottom: 8px;
}

/* ------------3333333333---------- */
/* -----------444444444444-------------- */
.portfolio{
    padding: 120px 0;
}
.portfolio__container__title{
    margin-bottom: 72px;
}
.portfolio__container__list{
    flex-wrap: wrap;
    row-gap: 48px;
}
.portfolio__container__list__item{
    width: calc((100% - 48px) / 3); 
}
.portfolio__container__list__item__caption{
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
}
.portfolio__container__list__item__subtitle{
    text-transform: capitalize;
    margin-bottom: 8px;
}
/* --------44444444444------------- */

/* ---------------------FOOTER-------------------- */
.footer{
    background-color: #2e2f42;
    padding: 100px 0;
}
.footer__container__logo{
    display: inline-block;
    margin-bottom: 16px; 
}
.footer__container__logo__part{
    color: #f4f4fd;
}
.footer__container__text{
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background: #2e2f42;
    max-width: 264px;
}/* ---------------------FOOTER-------------------- */
